.titulo-importante {
    padding: 20px;
    font-weight: bold;
    font-size: 45px;
    font-family: "Black Han Sans", sans-serif;
}

.cart-list {
    background-color: #f1edeb;
    /* min-height: 70vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content:center;
    padding: 10px;
}

.cart-resumen-compra {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
}

.btn-vaciarCarrito {
    width: 150px;
    height: 50px;
}
